header {
  background-color: black;
  color: white;
  padding: 10px;
}
nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
}
nav li {
  margin: 20px;
}
nav a {
  text-decoration: none;
}
body {
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  margin: 0;
  padding: 0;
}
img {
  max-width: 100%;
}
footer {
  text-align: center;
  padding: 10px;
  background-color: #333;
  color: #fff;
}
